<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search/result" method="GET">
        <select name="select" id="userSearch">
            <option value="sno" selected>신자번호</option>
            <option value="name" selected>신자성함</option>
            <option value="address" selected>신자 주소</option>
            <option value="phone" selected>전화번호</option>
            <option value="hname" selected>법명</option>
           
        </select>
        <input type="text" name="search" >
        <input type="submit" value="search">
    </form>
</body>
</html>